[Desktop Entry]
Version=1.0
Name=Herdr
GenericName=Terminal Workspace Manager
Comment=Terminal workspace manager for AI coding agents
TryExec=herdr
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Utility;Development;
StartupNotify=false

[Desktop Action server-stop]
Name=Stop Server
Exec=herdr server stop

[Desktop Action server-reload-config]
Name=Stop Server
Exec=herdr server reload-config
