[Unit]
Description=WayVNC Service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=-wayvnc --config=/etc/wayvnc/config -Lquiet --gpu
Restart=on-failure

[Install]
WantedBy=graphical-session.target
