[Unit]
Description=Sunshine Service
After=network.target graphical-session-pre
ConditionEnvironment=WAYLAND_DISPLAY
ConditionEnvironment=XDG_RUNTIME_DIR

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/sunshine

[Install]
WantedBy=multi-user.target
