[Unit]
Description=Daily Flatpak updates
#Requires=flatpak-update.service

[Timer]
OnBootSec=15min
OnCalendar=daily
Persistent=false

[Install]
WantedBy=timers.target