[Unit]
Description=Daily Flatpak updates
Requires=flatpak-update.service

[Timer]
OnBootSec=1h
OnUnitInactiveSec=4h
Persistent=true

[Install]
WantedBy=timers.target