[Unit]
Description=Init Flatpak global overrides
ConditionPathExists=!/var/lib/flatpak/overrides/global
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak-default_config

[Install]
WantedBy=multi-user.target