[Unit]
Description=Daily Flatpak updates
Requires=flatpak-update.service

[Timer]
OnBootSec=10min
OnUnitInactiveSec=4h
Persistent=true

[Install]
WantedBy=timers.target