[Desktop Entry]
Name=Kierownik
GenericName=Krw Task Runner
Comment=Pick and run a kierownik system task
TryExec=krw
Exec=footclient --app-id=krw-task krw
Icon=kierownik
Terminal=false
Type=Application
Categories=System;ConsoleOnly;
Keywords=tasks;system;maintenance;kierownik;
StartupNotify=false
