[Unit]
Description=Configure hibernation support
DefaultDependencies=no
After=local-fs.target
Before=firstboot.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hibernation-configure

[Install]
WantedBy=firstboot.service
